<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">
    <aop:config>
        <aop:aspect id="log" ref="easyArchiectureLogging">
            <aop:pointcut id="selectAll" expression="execution(* com.easy.*.*.*.*(..))"/>
            <aop:before pointcut-ref="selectAll" method="beforeAdvice"/>
            <aop:after pointcut-ref="selectAll" method="afterAdvice"/>
            <aop:after-returning pointcut-ref="selectAll"
                                 returning="retVal"
                                 method="afterReturningAdvice"/>
            <aop:after-throwing pointcut-ref="selectAll"
                                throwing="exception"
                                method="AfterThrowingAdvice"/>
        </aop:aspect>
    </aop:config>

    <!-- Definition for easyArchiectureAOP bean -->
    <bean id="easyArchiectureAOP" class="com.easy.archiecture.xml.EasyArchiectureAOP">
        <property name="aopDesc" value="EasyArchiectureAOP"/>
        <property name="aopName" value="EasyArchiecture"/>
    </bean>

    <!-- Definition for EasyArchiectureLogging aspect -->
    <bean id="easyArchiectureLogging" class="com.easy.archiecture.xml.EasyArchiectureLogging"/>
</beans>